.burger-wrapper {
  position: fixed;
  display: flex;
  z-index: 1001;
}

.burger-list {
  width: 200px;
  height: 100vh;
  position: relative;

  background-color: #364150;
}

.burger-logo {
  margin-left: 9px;
  margin-top: 4px;
  margin-bottom: 18px;
  width: 143px;
  height: 48px;
}

.icon-burger-conteiner {
  height: 55px;
  background-color: #2B3643;

  cursor: pointer;
}

.icon-burger {
  width: 35px;
  height: 15px;
  margin: 20px 13px;
}

.burger-item-conteiner {
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;

  .burger-icon-conteiner {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 10px;

    .burger-icon-point {
      width: 100%;
    }
  }

  .burger-point {
    color: #B4BCC8;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

.active-burger-item-list { // активная менюшка у бургера
  background: rgba(149, 159, 173, 0.3);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 45px;

    background-color: #8DC73F;
  }

  .burger-point {
    color: #fff;
  }
}

.CRMsystem {
  position: absolute;
  bottom: 24px;
  margin-left: 23px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #B4BCC8;
}