.page-view {  //основа всех страничек
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-table {
  flex: 0 0 auto;
}

.main-table {  
  flex-grow: 1;
  overflow-y: auto;
}

.footer-table {
  flex: 0 0 auto;
  width: 100%;
}