.item-send-wrapper {
  max-width: 376px;
  width: 100%;

  .send-title {
    margin: 11px 0 10px 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #337AB7;
  }

  .send-textarea-conteiner {
    width: 100%;
    height: 150px;
    position: relative;

    textarea {
      width: 100%;
      height: 100%;
      padding: 40px 16px 45px 16px;
      box-sizing: border-box;

      outline: none;
      border: 1px solid #D8D8D8;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      resize: none;
    }

    .message {
      position: absolute;
      top: 15px;
      left: 17px;
      padding-bottom: 7px;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #737373;

      &.active {
        border-bottom: 2px solid #8DC73F;
        color: #000;
      }
    }

    .important-message {
      position: absolute;
      top: 15px;
      left: 97px;
      padding-bottom: 7px;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #737373;
    }

    .icon-investment {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 10px;
      left: 11px;

      img {
        width: 100%;
      }
    }

    .icon-uppercase {
      width: 19px;
      height: 20px;
      position: absolute;
      right: 31px;
      bottom: 10px;

      img {
        width: 100%;
      }
    }

    .icon-dog {
      width: 15px;
      height: 19px;
      position: absolute;
      right: 8px;
      bottom: 10px;

      img {
        width: 100%;
      }
    }
  }

  .send-button {  
    margin-top: 30px;

    button {
      width: 160px;
      height: 40px;

      outline: none;
      border: none;
      background: #8DC73F;
      border-radius: 3px;

      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}